@import url('reset.css');

html, body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background:#f7f7f7 url(../img/pattern.png) repeat top left;
	/* position: relative; */
	height:100%;
}
p{
	font-size:14.5px;
	line-height: normal;
}
h1{
font-size:21px;
	margin: 5px;
	padding: 5px;
}
h2{
font-size:17px;
	margin: 3px;
	padding: 3px;
}

#container{
/* 	background-color: #FFFFFF;
	text-align: left;
	margin: 0px auto;
	min-height:300px; */
	
		min-height:400px;
	background-color:#FFFFFF;
	width: 90%;
	border-width: 1px; 
	border-color:rgba(102,102,102,0.7); 
	/*shadow around the box*/
	-moz-box-shadow: 0 0 4px 4px #888;
	-webkit-box-shadow: 0 0 4px 4px#888;
	box-shadow: 0 0 4px 4px #888;
	margin:10px auto 20px auto;
	padding: 0px;
	/*border*/
	-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
}
#banner {
	/* clear:both; */
	text-align: center;
	border: 1px none #050400;
	background: #4c4c4c;
	opacity:0.9;
	/*width: 100%;*/
	

}

div#banner h1 {
	color: #f9feec;
	padding-top: 5px;
	margin:0;
	text-align: left;
	padding-left: 2%;
	border-top: 1px none black;
	height: 60px;
	font: normal 20px 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
}

div#banner h2 {
	background: transparent;
	border: 1px none black;
	color: #fef8f5;
	padding-left: 2%;
	text-align: left;
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 0;
	font: normal normal 18px 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	margin-bottom: 4px;
}

div#banner h3 {
	font-size: 16px;
	background: #7f7f7f;
	border: 1px none black;
	color: #fef8f5;
	font-weight: normal;
	font-style: normal;
	text-align: right;
	padding: 4px 12px 4px 4px;
	margin-top: 2px;
	margin-bottom: 0;
	border-bottom: solid #a2131d 5px;
}

div#leftmenu {
float:left;
background: transparent;
	border-style: none;
	width: 18%;
	margin-right: 10px;
	margin-bottom: 1px;
}

div#leftmenu a {
	list-style: none;
	color: #000;
	text-decoration: none;
	text-align: left;
	display: block;
	padding: 3px;
	border: 1pt solid #020202;
	margin: 2px;
}



div#newsfeed {
	padding:5px 0px 10px 0px;
/* 	float:left; */
	width:60%;
	margin-left:20%; 
}

div#footer {
clear:both;
	color: #010103;
	display: block;
	padding: 10px 0px 0px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 100%;
}

div#footer a {
	list-style: circle none;
	color: black;
	margin-right: 14px;
}
.newsItem {
background-color:white;
margin-bottom:10px;
padding:5px;
border-bottom:dotted;
border-color: red;

}
.newsItem  a:hover {
	color:red;
}
.newsItem h1 a{
font-size:20px;
}

form{
text-align:center;
}
